<ul class="footer-info">
    {{#data-footer.data-info.array-items}}
        <li id="{{ id }}" class="footer-info-{{ name }}">{{{ html }}}</li>
    {{/data-footer.data-info.array-items}}
</ul>
<ul class="footer-places">
    {{#data-footer.data-places.array-items}}
        <li id="{{ id }}" class="footer-places-{{ name }}">{{{ html }}}</li>
    {{/data-footer.data-places.array-items}}
</ul>
<ul class="footer-icons">
    {{#data-footer.data-icons.array-items}}
        <li id="{{ id }}" class="footer-places-{{ name }}">{{{ html }}}</li>
    {{/data-footer.data-icons.array-items}}
</ul>
